html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Sidebar */
.dashboard-svg {
  height: 40px;
  width: 40px;
}
.sidebar {
  width: 200px;
  height: 100vh;

  /* padding: 20px; */
  background-color: #0284c7;
}
.dashboard {
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
}
.settings {
  padding-top: 50px;
}
li {
  font-weight: 600;
  display: grid;
  color: white;
  grid-template-columns: 1fr 6fr;
  padding: 10px;
  align-items: center;
  list-style-type: none;
}
li svg {
  padding-right: 10px;
}
/* Sidebar */
/* main content including sidebar*/
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
}
/* main content including sidebar*/
/* MAIN*/
/* MAIN*/
.main {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 5fr;
}

/* HEADER INSIDE MAIN */
/* HEADER INSIDE MAIN */
header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/* header top left */
.header-top-left {
  display: flex;
  height: 60px;
  align-items: center;
}
.search-icon {
  padding-left: 50px;
}
.search-bar {
  width: 400px;
  border-radius: 20px;
  margin-left: 20px;
}
/* header top left */
/* header top right */
.header-top-right {
  margin-right: 50px;
  display: flex;
  height: 60px;
  align-items: center;
}

.header-top-right img {
  height: 100px;
}
.header-top-right svg {
  height: 30px;
}
.header-top-right h4 {
  font-weight: 450;
}
/* header top right */
/* header bottom left */
.header-bottom-left {
  display: flex;
  height: 80px;
  align-items: center;
  padding-left: 20px;
}
.header-bottom-left img {
  height: 100px;
}
h2 {
  font-weight: 500;
}
.hi-there {
  align-self: start;
  font-weight: 700;
}
/* header bottom left */
/* header bottom right */
.header-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-right: 90px;
}
button {
  margin: 10px;
  height: 30px;
  border: 2px solid #0284c7;
  border-radius: 20px;
  color: white;
  background-color: #0284c7;
}
/* header bottom right */
/* main content */
.main-content {
  height: 100vh;
  display: grid;
  border-top: 2px solid #bae6fd;
  grid-template-columns: 3fr 1fr;
  background-color: #bae6fd;
}
.left-content {
  height: 100%;
  background-color: #bae6fd;
}
.left-content h2 {
  font-weight: 700;
  padding-top: 20px;
  padding-left: 20px;
}
.your-projects {
  display: grid;
  height: 100%;
  padding: 20px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.project-title {
  font-weight: 600;
}
.project-icon {
  display: grid;
  width: 120px;
  grid-template-columns: 1fr 1fr 1fr;
}
.project-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  justify-items: end;
  padding-left: 50%;
  padding-bottom: 10px;
}
.project {
  padding-left: 10px;
  border-radius: 5px;
  width: 90%;
  display: grid;
  border-left: 5px solid orange;
  background-color: white;
  padding-top: 20px;
}
.right-content {
  height: 100%;
  background-color: #bae6fd;
}
/* main content */
/* right hand side of main */
.top-content h2 {
  font-weight: 600;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #bae6fd;
}
.top-content {
  display: grid;
  width: 220px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f0f9ff;
}
.announcement h3 {
  font-weight: 600;
  margin-bottom: 5px;
}

.announcement {
  /* background-color: #bae6fd; */
  width: 200px;
  padding: 20px;
  margin: 10px;
}
.brake-line {
  border: 0.5px solid grey;
  width: 70%;
  margin-left: 10%;
}

/* top right hand side */

/* top right hand side */
/* bottom right hand side */
.bottom-content {
  background-color: #f0f9ff;
  padding-bottom: 20px;
  width: 220px;
  border-radius: 10px;
}
.bottom-content h2 {
  font-weight: 600;
  padding-bottom: 10px;
  background-color: #bae6fd;
  padding-top: 20px;
  padding-left: 20px;
}
.trend {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: start;
  margin: 20px;
}
.trend img {
  height: 30px;
  border-radius: 20px;
}
/* bottom right hand side */

/* right hand side of main */
